@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x3giv3');
  src:  url('fonts/icomoon.eot?x3giv3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x3giv3') format('truetype'),
    url('fonts/icomoon.woff?x3giv3') format('woff'),
    url('fonts/icomoon.svg?x3giv3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
<<<<<<< HEAD
  /* use !important to prevent issues with browser extensions that change fonts */
=======
>>>>>>> Eduardo
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

<<<<<<< HEAD
  /* Better Font Rendering =========== */
=======
>>>>>>> Eduardo
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\e904";
}
<<<<<<< HEAD

=======
>>>>>>> Eduardo
